<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sudeep.example.androidapplication">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidApplication">
        <activity
            android:name=".NotificationViewExample"
            android:exported="true"/>
        <activity
            android:name=".NotificationManagerExample"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobSchedulerExample"
            android:exported="true"/>
        <activity
            android:name=".AlarmManagerExample"
            android:exported="true" />
        <activity
            android:name=".BottomNavBarExample"
            android:exported="true" />
        <activity
            android:name=".MediaPlayerExample"
            android:exported="true" />
        <activity
            android:name=".CustomToastExample"
            android:exported="true" />
        <activity
            android:name=".EditTextProgressBarExample"
            android:exported="true" />
        <activity android:name=".ProgressBarExample" />
        <activity
            android:name=".ToolBarExampleTwo"
            android:theme="@style/Theme.AndroidApplication.NoActionBar" />
        <activity
            android:name=".ToolBarExample"
            android:theme="@style/Theme.AndroidApplication.NoActionBar" />
        <activity android:name=".RatingBarAverageExample" />
        <activity android:name=".RatingBarExample" />
        <activity android:name=".SplashScreenExampleMain" />
        <activity android:name=".SplashScreenExample" />
        <activity android:name=".ScrollViewExample" />
        <activity android:name=".MainActivity" />
        <!--
     VVI Note :  it will broadcast the pending intent to whole the
        android environment that it will work after certain time
          it should be added after all the activity and before the closing of the application tag
        -->
        <receiver android:name=".AlarmManagerBroadcast" /> <!-- It allow you to bind the current job service of job scheduler to the android environment -->
        <service
            android:name=".MyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>